<ion-content>
  <ion-grid>
    <ion-row class="align-self-center">
      <ion-col>
        <div text-center>
          <h3 class="title">e-Budget APP</h3>
        </div>
        <form class="list-form">
          <ion-item>
            <ion-label color="light">Name</ion-label>
            <ion-input placeholder="" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="light">Lastname</ion-label>
            <ion-input placeholder="" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="light">Email</ion-label>
            <ion-input placeholder="" type="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="light">Password</ion-label>
            <ion-input placeholder="" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="light">Confirm password</ion-label>
            <ion-input placeholder="" type="password"></ion-input>
          </ion-item>
          <ion-button type="submit" size="large" expand="block" shape="round" color="danger">Register</ion-button>

        </form>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>